@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

@layer base {
  a {
    @apply hover:text-accentCyan duration-200;
  }

  body {
    @apply selection:bg-cyan-800;
  }
}

.link-border {
  @apply mx-2 group-hover:border-b group-hover:border-accentCyan;
}

.border-style {
  @apply mx-3 mt-3 text-center rounded-tl-3xl rounded-tr-none rounded-br-3xl rounded-bl-none border-8 dark:border-[#dd5594] dark:hover:bg-divGradient  hover:bg-[#a0f0f269]  cursor-pointer border-accentCyan;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
  @apply bg-black;
  @apply dark:bg-white;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #000000db;
  color: #fff;
  box-shadow: 0px 0px 8px 0px #fff;
}

#menu a {
  @apply mb-4 last:mb-0;
}

.text-middle {
  background: -webkit-linear-gradient(#ffffff, #65e2d9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
