@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

@layer base {
  a {
    @apply hover:text-accentCyan duration-200;
  }

  body {
    @apply selection:bg-cyan-800;
  }
}

.link-border {
  @apply mx-2 group-hover:border-b group-hover:border-accentCyan;
}

.border-style {
  @apply mx-3 mt-3 text-center rounded-tl-[100px] rounded-tr-none rounded-br-[100px] rounded-bl-none border-4 dark:border-[#dd5594] dark:hover:bg-divGradient hover:bg-[#a0f0f269] cursor-pointer border-accentCyan hover:shadow-[0_0_20px_0_#000] dark:hover:shadow-[0_0_20px_0_#fff] duration-200 hover:scale-110 hover:rounded-tr-[100px] hover:rounded-tl-none hover:rounded-bl-[100px] hover:rounded-br-none;
}


.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
  @apply bg-black;
  @apply dark:bg-white;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #000000db;
  color: #fff;
  box-shadow: 0px 0px 8px 0px #fff;
}

.my-pulse {
  animation: pulse-cpu 1.5s infinite linear;
}

.text-middle {
      background: -webkit-linear-gradient(#65fbff, #000000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}


.letter-platinium {
  font-weight: bold;
  animation: spacing 8s infinite;
  background-image: linear-gradient(135deg, #65faff77 10%, transparent 0, transparent 50%, #65faff77 0, #65faff77 60%, transparent 0, transparent);
  background-size: 7.07px 7.07px;
  padding: 4px;
  border-radius: 8px;
}

@keyframes pulse-cpu {
  0% {

    box-shadow: 0 0 0 0 hsl(176, 68%, 64%);
    border-radius: 50%;
  }

  70% {

    box-shadow: 0 0 0 10px hsla(176, 68%, 64%, 0);
    border-radius: 50%;
  }

  100% {

    box-shadow: 0 0 0 20px hsla(176, 68%, 64%, 0);
    border-radius: 50%;
  }
}

@keyframes spacing {
  50% {
    letter-spacing: 4px;
  }
  
}